In [1]:
import pandas as pd
import requests

In [40]:
data = pd.read_csv('../data/csv/costs_full.csv', encoding='utf-8', delimiter='|')#[['year', 'month', 'cost_type', 'value']]
data.head()

,year,month,cost_type,value,cost_code,deputy_id
0,2019,3,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,154.95,6801547,204554
1,2019,5,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,343.48,6839323,204554
2,2019,6,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,312.27,6864448,204554
3,2019,7,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,191.56,6892233,204554
4,2019,8,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,138.61,6915356,204554

In [41]:
data.columns

Index(['year', 'month', 'cost_type', 'value', 'cost_code', 'deputy_id'], dtype='object')

In [42]:
data.year.value_counts()

2021    7594
2019    7429
2020    7316
Name: year, dtype: int64

In [44]:
data.groupby(['year','month','cost_type'])['value'].agg(['sum','mean']).reset_index()

,year,month,cost_type,sum,mean
0,2019,1,ASSINATURA DE PUBLICAÇÕES,2430.00,2430.000000
1,2019,1,COMBUSTÍVEIS E LUBRIFICANTES.,513986.40,408.574245
2,2019,1,"CONSULTORIAS, PESQUISAS E TRABALHOS TÉCNICOS.",530762.64,8995.976949
3,2019,1,DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR.,1486823.08,8903.132216
4,2019,1,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,1979.41,68.255517
...,...,...,...,...,...
209,2021,6,TELEFONIA,2003.38,1001.690000
210,2021,7,COMBUSTÍVEIS E LUBRIFICANTES.,670.00,167.500000
211,2021,7,DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR.,22000.00,22000.000000
212,2021,7,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,376.90,376.900000
213,2021,7,SERVIÇOS POSTAIS,157.42,52.473333